{% extends 'layouts/default/page.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block title %}Restaurant Create{% endblock %}
{% block head %}
    {{ block.super }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
  </style>
{% endblock %}
         
{% block content %}

    <h4>{% trans 'Add New Restaurant' %}</h4>

    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
        <button type="cancel" class="btn btn-primary">{% trans 'Cancel' %}</button>
    </form>

{% endblock %}